<section>
  <div> Author: {{ author0 }} </div>
  <div> {{ title0 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc0 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description0 }} </div>
  </div>
  <div> <a href="{{ link0 }}"> Click Here </a> </div>
  <div> {{ content0 }} </div>	 
  <div> Published At: {{ date0 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author1 }} </div>
  <div> {{ title1 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc1 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description1 }} </div>
  </div>
  <div> <a href="{{ link1 }}"> Click Here </a> </div>
  <div> {{ content1 }} </div>	 
  <div> Published At: {{ date1 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author2 }} </div>
  <div> {{ title2 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc2 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description2 }} </div>
  </div>
  <div> <a href="{{ link2 }}"> Click Here </a> </div>
  <div> {{ content2 }} </div>	 
  <div> Published At: {{ date2 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author3 }} </div>
  <div> {{ title3 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc3 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description3 }} </div>
  </div>
  <div> <a href="{{ link3 }}"> Click Here </a> </div>
  <div> {{ content3 }} </div>	 
  <div> Published At: {{ date3 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author4 }} </div>
  <div> {{ title4 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc4 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description4 }} </div>
  </div>
  <div> <a href="{{ link4 }}"> Click Here </a> </div>
  <div> {{ content4 }} </div>	 
  <div> Published At: {{ date4 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author5 }} </div>
  <div> {{ title5 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc5 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description5 }} </div>
  </div>
  <div> <a href="{{ link5 }}"> Click Here </a> </div>
  <div> {{ content5 }} </div>	 
  <div> Published At: {{ date5 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author6 }} </div>
  <div> {{ title6 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc6 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description6 }} </div>
  </div>
  <div> <a href="{{ link6 }}"> Click Here </a> </div>
  <div> {{ content6 }} </div>	 
  <div> Published At: {{ date6 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author7 }} </div>
  <div> {{ title7 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc7 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description7 }} </div>
  </div>
  <div> <a href="{{ link7 }}"> Click Here </a> </div>
  <div> {{ content7 }} </div>	 
  <div> Published At: {{ date7 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author8 }} </div>
  <div> {{ title8 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc8 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description8 }} </div>
  </div>
  <div> <a href="{{ link8 }}"> Click Here </a> </div>
  <div> {{ content8 }} </div>	 
  <div> Published At: {{ date8 }} </div>	
</section>
<hr>

<section>
  <div> Author: {{ author9 }} </div>
  <div> {{ title9 }} </div>
  <div class="row">
  	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" > <img src="{{ imgsrc9 }}" alt="" height="auto" width="auto"> </div>
  	<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" > {{ description9 }} </div>
  </div>
  <div> <a href="{{ link9 }}"> Click Here </a> </div>
  <div> {{ content9 }} </div>	 
  <div> Published At: {{ date9 }} </div>	
</section>
<hr>
